attrs==22.1.0
click==7.1.2
docutils==0.16
iniconfig==1.1.1
Markdown==3.2.1
mongoquery==1.3.6
more-itertools==8.14.0
objectpath==0.6.1
packaging==21.3
parso==0.6.2
pluggy==0.13.1
py==1.11.0
pyparsing==3.0.9
pytest==7.1.3
pytest-json-report==1.2.1
pytest-metadata==2.0.2
PyYAML==5.3.1
six==1.16.0
tomli==2.0.1
typer==0.1.1
wcwidth==0.2.5
